*{
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
    }
    /* first  home section */
    #main{
        width: 100%;
        height: 100vh;
        background-image:url("image/bg.6.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        } 
    #header{
        width: 100%;
        height: 17vh;
        display: flex;
        justify-content: space-between;
        place-items: center;
      
    
    }
    #header img{
    width: 150px;
    margin-bottom: -50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    }   
    #header nav ul li{
        display: inline-block;
        font-size: 27px;
        margin-left: 20px;
        margin-right: 30px;
    }
    #header nav ul li a{
        text-decoration: none;
        color: rgb(255, 251, 251); 
    }
    #h11{
        width: 100%;
        height: 83vh;
        display: flex;
        place-items: center;
    }
    #h12{
        color:white;
        width: 40%;
        margin-left: 10%;
        padding: 50px;
    }
    #h12 h1{
        margin-bottom: 40px;
        font-size: 40px;
    }
    #h12 p{
        margin-bottom: 40px;
    }
    #h13{
        background-color: darksalmon;
        width: 150px;
        padding: 10px 30px;
        border-radius: 10px;
        cursor: pointer;
    }
    #h13 h4{
        cursor: pointer;
    }
    img#toggle{
        display: none;
    }
    /* second section ABOUT sectionz1 */
    #page1{
        width: 100%;
        height: 100vh;
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #page11{
        width: 100%;
        height: 70vh;
        
        display: flex;
        padding-left: 100px;
        
    }
    #page1 h1{
        padding-top: 40px;
        padding-bottom: 40px;
    
    }
    #head{
        width: 100%;
        height: 30vh; 
        display: flex;
        justify-content: left;
        place-items:center ;
    }
    #page15 {
        font-size: 20px;
        background-color: black;
        color: whitesmoke;
        padding: 20px;
    }
    #about{
        font-size: 50px;
    }
    #page16 img{
        height: 80vh;
        padding-left: 100px;
    }
    /* third section oreders  */
    #sec1{
        width: 100%;
        height: 100vh;
        background-image: url(image/bg3.3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #sec h1{
        font-size: 30px;
    }
    #secimage{
        cursor: pointer;
   }
    .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  /* section of anmtaion */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    /* Container needed to position the overlay. Adjust the width as needed */
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  .image {
    /* Make the image to responsive */
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    /* The overlay effect - lays on top of the container and over the image */
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .container:hover .overlay {
    opacity: 1;
    /* When you mouse over the container, fade in the overlay title */
  }
  #maindiv{
      display: flex;
      justify-content: space-between;
      place-items: center;
  }
  /* last page */
 #footer{
    display: flex;
    justify-content: space-between;
    place-items: center;
    background-color: black;
    color: white;
    padding-right: 40px;
    font-size: 10px;
 }
 #footer div h5{
    padding-top: 40px;
 }
 #footer div h1,p{
    padding-bottom: 20px;
 }
 #footer div h1{
    padding-top: 30px;
 }
 #footer img{
    width: 90%;
    height: 100px;
 }
 #p1{
    padding-top: 10px;
 }
 #send{
    border-radius: 5px;
    background-color: aqua;
 }
#emailinput{
    border-radius: 9px;
    width: 190px;
    height: 25px;
}
    /* moblie view */
    @media(max-width:500px){
        #h12{
            width: 100%;
            padding-left: 20px;            
        }
        #h12 h1{
            font-size: 50px;
        }
        #header nav{
            display: none;
        }
        img#toggle{
            display: block;
            position: fixed;
            right: 10px;
            top: 30px;
            width: 100px;
            height: 70px;
        }
        #page15{
            font-size: 15px;
            padding: 10PX;
        }
        #page16 img{
            display: none;
        }
        #sec1{
            display: none;
        }
        #h12{
            margin-left: 0px;
        }
        #page11{
            padding-left: 0px;
        }
        #about{
            padding-right: 100px;
        }
        #header img{
            margin-right: 150px;
        }

    }
          
          